<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informatica Basica</title>
    <link rel="stylesheet" href="bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index1.css">

</head>

<body>

    <img src="img/logo.index.jpg" class="logo">

    <div>
        <form>
            <input type="button" value="Cerrar sesión" class="btn btn-primary boton" id="cerrar">
        </form>
    </div>

    <h1>

        <b>Informática básica</b>

    </h1>

    <p>

        Te explicamos que es la Informatica, su historia, para que sirve y otras caracteristicas. Ademas, conceptos sobre las partes del computador, sus componentes y demas conceptos basicos en detalle.

    </p>

    <h2> <b>¿Que es la Informática?</b> </h2>

    <article>
        La Informatica o computación<b>es la ciencia los métodos y técnicas para almacenar, procesar y transmitir información</b>de manera automatizada, y más especificamente<b>en formato digital</b>empleando sistemas computarizados.
        No existe realmente una definición única y universal de lo que la informática es, quizá porque se trata de una de las ciencias de más reciente origen aunque de desarrollo más vertiginoso y desenfrenado.

        <br> <br>

        Por eso en muchos espacios académicos suelen diferenciar entra esta disciplina y las ciencias de la computación (o a la ingeniería informática), considerando que estas últimas poseen un abordaje más teórico de la materia
        mientras que la informática tiene siempre un costado práctico y aplicado, vinculado con los dispositivos electrónicos.
        Otros, en cambio, consideran como subdisciplinas de la informática a la ciencia de la computación, la ingeniería informática, los sistemas de información, la tecnología de la información y la ingeniería del software.

        <br> <br>

        En todo caso, la informática como disciplina tiene que ver con el procesamiento automático de la información<b>a través de dispositivos electrónicos y sistemas computacionales,</b>dotados estos últimos de tres funciones
        básicas: el ingreso de datos (entrada), el procesamiento de datos y la transmisión de resultados (salida).
    </article>

    <br>

    <img src="img/informatica2.jpg" class="imagen2"> 

    <br> <br>

    <h2 class="caracteristicas">
        <b>Características de la informática</b> 
    </h2>

    <p>

        La informática, a grandes rasgos, puede caracterizarse de la siguiente manera:

    </p>

    <ol class="caracteristicas-lista">

        <li>Su objeto de estudio puede resumirse en el<b>tratamiento automatizado de la información</b>mediante sistemas digitales computarizados. </li>
        <li>Se propone<b>tanto el abordaje teórico como el práctico</b>de los sistemas informáticos, aunque no se trata de una ciencia experimental. </li>
        <li>Toma en préstamo el<b>lenguaje formal de la lógica y la matemática</b>para expresar las relaciones entre los sistemas de datos y las operaciones que estos ejecutan.</li>
        <li>Es una de las disciplinas científicas mas jovenes,<b>surgida formalmente en la segunda mitad del siglo XX.</b></li>

    </ol>

    <h2 class="historia">

        <b>Historia de la informática</b> 

    </h2>

    <img src="img/historia.jpg" title="historia" class="imagen-historia">

    <h6 class="konrad">

        Konrad Suze inventó la primera computadora llamada z3

    </h6>
    
    <article class="historia1">

        Al contrario de lo que se cree, la informática es anterior a la invención de las computadoras. Posee muy antiguos<b>antecedentes en las máquinas de cálculo mentales de los filósofos de la antigüedad griega,</b>
        como Euclides (c.325-265 A.C.) y su famoso algoritmo, o bien en las calculadoras mecánicas del siglo XVII y las máquinas programables del siglo XIX.
        
        <br><br>

        Sin embargo,<b>en la primera mitad del siglo XX se creó la tecnologia necesaria para desarrollar las primeras computadoras.</b>Entre esos avances se encuentra el tubo al vacio, las puertas lógicas y los primeros
        circuitos, lo cual inauguró un campo del saber que muy pronto revolucionó a todos los demás y cambió la forma en que pensamos el trabajo. También<b>fue central el trabajo en algoritmos durante las primeras tres 
        décadas del siglo,</b>bajo el genio de figuras como el matemático británico Alan Turing (1912-1954). Por otro lado, el contexto de la segunda
        guerra mundial impulsó a los primeros calculadores automáticos que se dispusieron para descifrar los códigos de guerra del enemigo. 

        <br><br>

        <b>La primera máquina de cálculo totalmente programable y automática fue inventada en 1941,</b>llamada Z3, y en 1944 la primera máquina electromecánica, en la Universidad de Harvard en Estados Unidos: la Mark I.
        Desde entonces, los sistemas informáticos no cesaron de cambiar. Se incorporaron nuevas tecnologias como los transistores, los semiconductores y diversos mecanimos de almacenamiento de información, desde las tarjetas
        perforadas hasta las primeras cintas magnéticas.

        <br><br>

        <b>El primer computador de la historia fue el ENIAC (1946),</b>de la Universidad de Pensilvania, que ocupaba un cuarto completo. Fue el primero de varias generaciones de sistemas informáticos por venir, cada vez más
        pequeños y potentes. Las primeras escuelas de computación, en el marco de las universidades, surgieron entre las décadas de 1950 y 1960. Paralelamente la industria informática, naciente pero poderosa, que permeó todas
        las demás areas del saber humano en apenas 60 años de desarrollo. <a href="https://www.bbvaopenmind.com/articulos/historia-de-la-informatica/">Ver mas historia</a>

    </article>
        <br>
    
        <h2 class="conceptos">
            <b>Conceptos básicos de informática</b>
        </h2> 

        <img src="img/conceptos.jpg" title="conceptos básicos" class="imagen-conceptos">
        <br>

        <article class="conceptos-hardware">

            Los conceptos más básicos de la informática son el<i>hardware</i>y el<i>software.</i>

            <br><br>

            <b>El hardware</b>es el aspecto físico, rígido, concreto y tangible de los sistemas informáticos. Son, así, las piezas y componentes que podemos tocar, intercambiar, romper, entre otros,
            algo asi como el "cuerpo" de la computadora.

            <br><br>

            En dicha categoría se incluyen los componentes vitales de procesamiento (como el procesador de cálculo) o los dispositivos de almacenamiento (la memoria y los discos rígidos), pero también
            los dispositivos periféricos, que son aditamientos independientes del sistema, que se conectan con él para permitirle desempeñar diversas funciones. Dependiendo de cúañes sean dichas funciones,
            podremos hablar de:

        </article>

        <ol class="lista-hardware">

            <li><b><a href="https://concepto.de/dispositivos-de-entrada/">Dispositivos de entrada:</b></a> Son aquellos que permiten introducir información al sistema, como puede ser un teclado, un mouse, una cámara web o un escaner.</li>
            <li><b>Dispositivos de salida:</b>Son aquellos que permiten extraer o recuperar información del sistema, como pueden ser el monitor, una impresora o unas cornetas.</li>
            <li><b>Dispositivos de entrada/salida:</b>Son aquellos que son capaces de desempeñar ambas funciones a la vez o de manera sucesiva, como puede ser una impresora multifuncional o un monitor tactil.</li>

        </ol>

        <table class="table1 table border-primary" border="" cellspacing="8" cellpadding="10">

            <thead>
    
                <th class="th1" colspan="18">Dispositivos del hardware</th>
                
            </thead>
    
            <tbody>
                <tr>
    
                    <td colspan="3" style="text-align: center;">Dispositivo</td>
                    <td colspan="4" style="text-align: center;">Caracteristicas</td>
                    <td colspan="5" style="text-align: center;">Ventajas</td>
                    <td colspan="6" style="text-align: center;">Desventajas</td>
    
                </tr>
                <tr>
    
                    <td>Mouse</td>
    
                    <td colspan="4">
    
                                    1-Permite colocar el puntero o el cursor. <br>
                                    2-Permite moverse entre menus de manera sencilla <br>
                                    3-Reemplaza de muchas formas el uso del teclado 
                    </td>
    
                    <td colspan="5">
    
                                    1-Sin preocupacion por la bateria <br>
                                    2-Mayor precisión <br>
                                    3-Sensores especializados 
                    </td>
    
                    <td colspan="6">
    
                                    1-Limitacion con el cable <br>
                                    2-Problemas con la superficie <br>
                                    3-Velocidad 
                    </td>
                    
                </tr>
    
                <tr>
    
                    <td>Teclado</td>
    
                    <td colspan="4">
                                    1-Es un dispositivo de entrada <br> 
                                    2-Está divido en varios bloques <br> 
                                    3-Se trata de el sucesor de la máquina de escribir
                    </td>
    
                    <td colspan="5">
                                    1-Son más duraderos <br>
                                    2-Proporcionan una mayor personalización <br>
                                    3-Son los más rápidos y precisos
                    </td>
    
                    <td colspan="6">
                                    1-Son menos cómodos y cansan más <br>
                                    2-Son mucho más ruidosos <br>
                                    3-Son muy caros
                    </td>
    
                </tr>
    
                <tr>
    
                    <td>Monitor</td>
                    <td colspan="4">
                                    1-Luminancia <br>
                                    2-Profundidad de color <br>
                                    3-Espectro de color
                    </td>
    
                    <td colspan="5">
                                    1-Consumo de energía <br>
                                    2-Cada punto se encarga de dejar o no pasar la luz. <br>
                                    3-La geometría es siempre perfecta, lo determina el tamaño del píxel
                    </td>
    
                    <td colspan="6">
                                    1-Los modelos antiguos tienen la pantalla curva. <br>
                                    2-Por sí solas no producen luz, necesitan una fuente externa. <br>
                                    3-Si no se mira dentro del cono de visibilidad adecuado, desvirtúan los colores.
                    </td>
    
                </tr>

                <tr>

                    <td>Escaner</td>
                    <td colspan="4">
                                    1-Resolución <br>
                                    2-El formato del documento <br>
                                    3-Velocidad de captura
                    </td>

                    <td colspan="5">
                                    1-Captura masiva de datos 3D <br>
                                    2-Facilidad de compartir el modelo con los agentes implicados <br>
                                    3-Precisión y fiabilidad de los datos
                    </td>

                    <td colspan="6">
                                    1-Laterales copiados <br>
                                    2-Disminución en calidad <br>
                                    3-Cuestiones técnicas y de portabilidad
                    </td>

                </tr>

                <tr>

                    <td>Pendrive</td>
                    <td colspan="4">
                                    1-capacidad de almacenamiento. <br>
                                    2-velocidad para trasmitir datos. <br>
                                    3-cuenta con un conector USB integrado.
                    </td>

                    <td colspan="5">
                                    1-Bajo costo y garantía para el servicio que ofrecen. <br>
                                    2-Resistentes al polvo, ralladuras, a diferencia de los disquetes, cd’s o dvd’s. <br>
                                    3-Son muy cómodas de transportar por su pequeño tamaño.
                    </td>

                    <td colspan="6">
                                    1-Por tener un tamaño tan pequeño podemos perderlas fácilmente. <br>
                                    2-Son susceptibles de poder almacenar virus. <br>
                                    3-Pueden dejar de funcionar repentinamente por diferentes accidentes.
                    </td>

                </tr>
                

            </tbody>
    
        </table>
        <br>

        <article class="conceptos-software">

                    <b>El software</b>vendría a ser la mente del sistema informático, intangible, abstracto y sólo accesible a través del sistema. Existen muchísimos tipos de software, algunos de los cuales
                    vienen ya preinstalados en sectores críticos de la computadora, mientras que otros sirven de interfaz entre el sistea y los usuarios, gobernando los dispositivos, controlando los recursos
                    y permitiendo la instalación de programas secundarios que el usuario desee. Así podemos hablar de:

        </article>

        <ol class="lista-software">

            <li><b>Software o sistemas operativos:</b>Son aquellos programas que se necesitan para el funcionamiento mínimo del sistema y para que el usuario pueda disponer de sus recursos.
            Se trata de los programas fundamentales que proveen al usuario de un entorno de operaciones y que regulan el acceso a los recursos físicos del sistema, como la memoria, el procesador,
            entre otros.</li>
            <li><b>Software de aplicación:</b>Son aquellos programas que el usuario instala en el sistema posteriormente y que le ofrecen determinadas funciones, que van desde el trabajo hasta
            el ocio: videojuegos, procesadores de texto, programas de diseño gráfico, programas antivirus, exploradores de la red, entre otros.</li>

        </ol>

        <table class="table2 table border-primary" border="" cellspacing="8" cellpadding="10">

            <thead>
    
                <th class="th2" colspan="18">Tipos de software</th>
                
    
            </thead>
    
            <tbody>
                <tr>
    
                    <td colspan="3" style="text-align: center;">Software</td>
                    <td colspan="4" style="text-align: center;">Caracteristicas</td>
                    <td colspan="5" style="text-align: center;">Ventajas</td>
                    <td colspan="6" style="text-align: center;">Desventajas</td>
    
                </tr>
                <tr>
    
                    <td>De aplicacion</td>
    
                    <td colspan="4">
    
                                    1-Orientado al usuario. <br>
                                    2-Gratuito <br>
                                    3-Disponible para instalar
                    </td>
    
                    <td colspan="5">
    
                                    1-Bajo precio de adquision <br>
                                    2-Acceso completo al dispositivo <br>
                                    3-Mejora la experiencia del usuario  
                    </td>
    
                    <td colspan="6">
    
                                    1-Diferentes habilidades/ idiomas / herramientas <br>
                                    2-Tienden a ser mas caras de desarrollar <br>
                                    3-El codigo del cliente no es reutilizable entre las diferentes plataformas.
                    </td>
                    
                </tr>
    
                <tr>
    
                    <td>De programacion</td>
    
                    <td colspan="4">
                                    1-Editor de texto. <br> 
                                    2-Compilador <br> 
                                    3-Intérprete.
                    </td>
    
                    <td colspan="5">
                                    1-Suelen ser más robustas y estables que las aplicaciones Web<br>
                                    2-Rendimiento: el tiempo de respuesta es muy rápido <br>
                                    3-Seguridad: pueden ser muy seguras
                    </td>
    
                    <td colspan="6">
                                    1-Su acceso se limita al ordenador donde están instaladas <br>
                                    2-Son dependientes del sistema operativo que utilice el ordenador y sus capacidades <br>
                                    3-Requieren intalación personalizada
                    </td>
    
                </tr>
    
                <tr>
    
                    <td>De sistema</td>
                    <td colspan="4">
                                    1-Windows <br>
                                    2-Mac OS <br>
                                    3-Ubuntu (entre otras de las distribuciones de Linux)
                    </td>
    
                    <td colspan="5">
                                    1-La instalación es sencilla <br>
                                    2-Mejor interfaz grafica del mercado <br>
                                    3-Mayor estabilidad por algo lo usan en servidores de alto rendimiento
                    </td>
    
                    <td colspan="6">
                                    1-Tiene ciertas limitaciones por RAM <br>
                                    2-Existe poco software para este sistema operativo <br>
                                    3-Muchos juegos no corren en linux.
                    </td>
    
                </tr>

                <tr>

                    <td>Antivirus</td>
                    <td colspan="4">
                                    1-Gran capacidad de detección y de reacción ante un nuevo virus. <br>
                                    2-Actualización sistemática. <br>
                                    3-Detección mínima de falsos positivos o falsos virus.
                    </td>

                    <td colspan="5">
                                    1-Protección contra troyanos, gusanos y malware. <br>
                                    2-Cuidado de la privacidad. <br>
                                    3-Análisis de correos electrónicos.
                    </td>

                    <td colspan="6">
                                    1-No suelen ser menos completos. <br>
                                    2-A veces la protección está limitada y no cuenta con un análisis en tiempo real. <br>
                                    3-No se pueden eliminar algunos tipos de malware.
                    </td>

                </tr>

                <tr>

                    <td>Navegadores web</td>
                    <td colspan="4">
                                    1-Navegación por pestañas. <br>
                                    2-Bloqueador de ventanas emergentes. <br>
                                    3-Soporte para motores de búsqueda.
                    </td>

                    <td colspan="5">
                                    1-Rápido y fiable. <br>
                                    2-Sincronización de datos. <br>
                                    3-Buenas opciones para la expansión de la función.
                    </td>

                    <td colspan="6">
                                    1-No hay buena protección de datos. <br>
                                    2-Alta carga en la memoria principal cuando hay muchas pestañas abiertas. <br>
                                    3-No todos los sitios web están optimizados para el navegador.
                    </td>

                </tr>
            </tbody>
    
        </table>
        <br>
    
</body>

<footer>
    <b>Derechos reservados por<a href="https://twitter.com/German_VEN" target="_blank">German Bustamante</a>(2022).</b>
</footer>
<script src="js/index1.js"></script>
</html>