<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/tienda.css">
</head>

<body>
    
    <h1 class="col-6 offset-3 text-danger text-center mt-5 bg-white">CONOCE NUESTROS PRODUCTOS</h1>
    <br>

    <input type="button" value="Regresar" id="regresar" class="btn btn-danger mb-3 volver">
    <br>

    <table class="table1 table border-primary" border="" cellspacing="8" cellpadding="10">


        <tbody>
            <tr>

                <td colspan="3" style="text-align: center;">Productos</td>
                <td colspan="4" style="text-align: center;">Codigo</td>
                <td colspan="5" style="text-align: center;">Descripción</td>
                <td colspan="5" style="text-align: center;">Precio</td>
                <td colspan="5" style="text-align: center;">Muestra</td>

            </tr>
            <tr>

                <td colspan="4">Mouse inalambrico</td>

                <td colspan="2">

                                0123456789
                </td>

                <td colspan="5" style="text-align: center;">

                                Mouse inalambrico tipo convencional, sensor optico, resolucion de 1600dpi
                </td>           

                <td colspan="6" style="text-align: center;">

                                7$
                </td>

                <td colspan="6" style="text-align: center;">
                                <img src="img/mouse.jpg" class="mouse">
                </td>
                
            </tr>

            <tr>

                <td>Windows 10</td>

                <td colspan="4">
                                0246810124 
                </td>

                <td colspan="5" style="text-align: center;">
                                Sistema operativo windows 10
                </td>

                <td colspan="6" style="text-align: center;">
                                20$
                </td>

                <td colspan="6" style="text-align: center;">
                                <img src="img/windows.png" class="windows">
                </td>

            </tr>

            <tr>

                <td>Disco duro 500GB</td>
                <td colspan="4">
                                1357911135
                </td>

                <td colspan="5" style="text-align: center;">
                                Disco duro Western Digital 500GB, velocidad de rotación de 7200rmp
                </td>

                <td colspan="6" style="text-align: center;">
                                20$
                </td>

                <td colspan="6" style="text-align: center;">
                                <img src="img/disco.jpg" class="disco">
                </td>

            </tr>

            <tr>

                <td>CPU Dell intel I5</td>
                <td colspan="4">
                                9876543210
                </td>

                <td colspan="5" style="text-align: center;">
                                CPU Dell intel I5, 8GB de ram, 500GB de almacenamiento
                </td>

                <td colspan="6" style="text-align: center;">
                                230$
                </td>

                <td colspan="6" style="text-align: center;">
                                <img src="img/cpu.jpg" class="cpu">
                </td>

            </tr>

            <tr>

                <td>Teclado inalambrico</td>
                <td colspan="4">
                                1584697324
                </td>

                <td colspan="5" style="text-align: center;">
                                Teclado inalambrico Logitech, sin conexion a bluetooh
                </td>

                <td colspan="6" style="text-align: center;">
                                13$
                </td>

                <td colspan="6" style="text-align: center;">
                                <img src="img/teclado.jpg" class="teclado">
                </td>

            </tr>
            

        </tbody>

    </table>

    <img src="img/productos.jpg">


</body>

<script src="js/tienda.js"></script>

</html>